@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;
}

:root {
   
    --secundary: #cd191e;

    
    --danger: #cd191e;

    --info: #37b0f4;
    --warning: #fabb24;

    --primary-text: #3a3a3a;
    --secundary-text: #909090;

    --background-primary: #f9fcfa;
    --background-secundary: #ffffff;

    --white: #ffffff;

    --font-primary: "Open Sans", sans-serif;
    --font-secondary: "Arvo", serif;
}

html {
    @media (max-width: 62.5rem) {
        font-size: 93.75%;
    }

    @media (max-width: 45rem) {
        font-size: 87.5%;
    }
}

body {
    background-color: var(--background-primary);
    --webkit-font-smoothing: antialisse;
    font-family: var(--font-primary);
}
