<div class="modal-header">
  <div class="info-modal">
    <h4 class="modal-title pull-left">Editar um usuario</h4>
  </div>
  <button>
    <i
      class="bi bi-x"
      style="font-size: 1.5rem"
      (click)="bsModalRef.hide()"
    ></i>
  </button>
</div>

<div class="progress-bar">
  <div class="step" [class.active]="currentStep >= 1">Contato</div>
  <div class="line" [class.active]="currentStep >= 2"></div>
  <div class="step" [class.active]="currentStep >= 2">Dados</div>
  <div class="line" [class.active]="currentStep >= 3"></div>
  <div class="step" [class.active]="currentStep >= 3">Endereço</div>
  <div class="line" [class.active]="currentStep >= 4"></div>
  <div class="step" [class.active]="currentStep >= 4">Representante</div>
</div>

<form [formGroup]="form">
  <div class="pt1" *ngIf="currentStep === 1">
    <div class="container-inputs">
      <app-input
        label="Nome:"
        placeholder="Digite seu nome:"
        formControlName="nome"
        [maxlength]="200"
        [hasError]="hasMaxLengthAndRequiredError('nome')"
        [errorMsg]="getMaxLengthAndRequiredErrorMsg('nome')"
      >
        >
      </app-input>

      <app-input
        label="E-mail:"
        placeholder="Digite seu email:"
        formControlName="email"
        [maxlength]="200"
        [hasError]="hasMaxLengthAndRequiredError('email')"
        [errorMsg]="getMaxLengthAndRequiredErrorMsg('email')"
      >
      </app-input>
      <app-input
        label="Telefone:"
        placeholder="Digite seu telefone:"
        formControlName="telefone"
        mask="(00) 00000-0000"
        [maxlength]="15"
        [clearIfNotMatch]="true"
        [hasError]="hasMaxLengthAndRequiredError('telefone')"
        [errorMsg]="getMaxLengthAndRequiredErrorMsg('telefone')"
      >
        >
      </app-input>
    </div>
  </div>

  <div class="pt2" *ngIf="currentStep === 2">
    <div class="container-inputs">
      <app-input
        label="RG:"
        placeholder="Digite seu RG:"
        formControlName="rg"
        [clearIfNotMatch]="true"
        [maxlength]="12"
        [hasError]="hasMaxLengthAndRequiredError('rg')"
        [errorMsg]="getMaxLengthAndRequiredErrorMsg('rg')"
      >
      </app-input>

      <app-input
        label="CPF:"
        mask="000.000.000-00"
        [maxlength]="14"
        placeholder="Digite seu CPF:"
        formControlName="cpf"
        [clearIfNotMatch]="true"
        [hasError]="hasMaxLengthAndRequiredError('cpf')"
        [errorMsg]="getMaxLengthAndRequiredErrorMsg('cpf')"
      >
      </app-input>

      <app-data-input
      label="Data de nascimento"
        formControlName="dataNascimento"
        [maxlength]="10"
        [hasError]="hasMaxLengthAndRequiredError('dataNascimento')"
        [errorMsg]="getMaxLengthAndRequiredErrorMsg('dataNascimento')"
      >
      </app-data-input>
    </div>
  </div>

  <div class="pt3" *ngIf="currentStep === 3">
    <div class="container-inputs">
      <div class="teste1">
        <app-input
          mask="00000-000"
          [maxlength]="10"
          label="CEP:"
          [clearIfNotMatch]="true"
          placeholder="Digite seu CEP:"
          formControlName="cep"
          [hasError]="hasMaxLengthAndRequiredError('cep')"
          [errorMsg]="getMaxLengthAndRequiredErrorMsg('cep')"
        >
        </app-input>

        <app-input
          label="Logradouro:"
          placeholder="Digite seu logradouro:"
          formControlName="logradouro"
          [maxlength]="150"
          [hasError]="hasMaxLengthAndRequiredError('logradouro')"
          [errorMsg]="getMaxLengthAndRequiredErrorMsg('logradouro')"
        >
        </app-input>

        <app-input
          label="Complemento:"
          placeholder="Digite seu complemento:"
          formControlName="complemento"
          [maxlength]="150"
          [hasError]="hasMaxLengthAndRequiredError('complemento')"
          [errorMsg]="getMaxLengthAndRequiredErrorMsg('complemento')"
        >
        </app-input>
      </div>
      <div class="teste2">
        <app-input
          label="Bairro:"
          placeholder="Digite seu bairro:"
          formControlName="bairro"
          [maxlength]="150"
          [hasError]="hasMaxLengthAndRequiredError('bairro')"
          [errorMsg]="getMaxLengthAndRequiredErrorMsg('bairro')"
        >
        </app-input>

        <app-input
          label="Cidade:"
          [maxlength]="150"
          placeholder="Digite sua cidade:"
          formControlName="cidade"
          [hasError]="hasMaxLengthAndRequiredError('cidade')"
          [errorMsg]="getMaxLengthAndRequiredErrorMsg('cidade')"
        >
        </app-input>

        <app-select-input
          [label]="'Tem representante?'"
          [options]="selectOptions"
          [placeholder]="'Escolha uma opção'"
          formControlName="temRepresentante"
          (change)="onRepresentativeChange($event)"
        >
        </app-select-input>
      </div>
    </div>
  </div>

  <div class="pt4" *ngIf="currentStep === 4">
    <div class="container-inputs">
      <h4>Contato</h4>
      <div class="container1">
        <app-input
          label="Nome do Representante:"
          placeholder="Digite o nome do representante:"
          formControlName="representanteNome"
          [maxlength]="200"
        >
        </app-input>

        <app-input
          label="E-mail do Representante:"
          placeholder="Digite o e-mail do representante:"
          formControlName="representanteEmail"
          [maxlength]="256"
        >
        </app-input>

        <app-input
          label="Telefone do Representante:"
          placeholder="Digite o telefone do representante:"
          formControlName="representanteTelefone"
          mask="(00) 00000-0000"
          [maxlength]="15"
          [clearIfNotMatch]="true"
        >
        </app-input>
      </div>
      <h4>Dados do parentesco</h4>
      <div class="container1">
        <app-input
          label="Parentesco:"
          placeholder="Digite o parentesco:"
          formControlName="parentesco"
          [maxlength]="30"
        >
        </app-input>

        <app-input
          label="CPF do Representante:"
          placeholder="Digite o CPF:"
          formControlName="representanteCpf"
          mask="000.000.000-00"
          [maxlength]="14"
          [clearIfNotMatch]="true"
        >
        </app-input>
        <app-input
          label="RG do Representante:"
          placeholder="Digite o RG:"
          [maxlength]="30"
          [clearIfNotMatch]="true"
          formControlName="representanteRg"
        >
        </app-input>
      </div>
      <div class="t">
        <app-data-input
        label="Data de nascimento"
          [maxlength]="10"
          placeholder="Digite a data de nascimento:"
          formControlName="representanteDataNascimento"
        >
        </app-data-input>
      </div>
    </div>
  </div>

  <div class="footer-modal">
    <app-button variant="danger" width="100px" (click)="onCloseModal()">
      Fechar
    </app-button>
    <app-button
      width="100px"
      *ngIf="currentStep > 1"
      (click)="onPreviousStep()"
    >
      Voltar
    </app-button>
    <app-button
      width="100px"
      *ngIf="
        currentStep < 4 &&
        (currentStep !== 3 || form.get('temRepresentante')?.value === 'sim')
      "
      (click)="onNextStep()"
    >
      Próximo
    </app-button>
    <app-button
      width="100px"
      *ngIf="
        currentStep === 4 ||
        (currentStep === 3 && form.get('temRepresentante')?.value === 'nao')
      "
      [isLoading]="isLoading"
      (click)="onSubmit()"
    >
      Salvar
    </app-button>
  </div>
</form>
