<div class="container">
  <div class="adicionar">
    <h1>Clientes</h1>
    <button class="adicionarUsuario" (click)="adicionarCliente()">
      Adicionar Clientes <img src="/adicionarUsuario.svg" alt="" />
    </button>
  </div>

  <div class="filter">
    <div class="resp">
    <app-input
      label="Nome"
      type="text"
      placeholder="Digite o nome"
      [(ngModel)]="filtros.nome"
      [hasError]="false"
      errorMsg="Nome é obrigatório"
      [isDisable]="false"
    ></app-input>
   
    <app-input
      label="RG"
      type="text"
      placeholder="Digite o RG"
      [(ngModel)]="filtros.rg"
      [hasError]="false"
      errorMsg="RG é obrigatório"
      [isDisable]="false"
    ></app-input>
    <app-input
      label="CPF"
      type="text"
      placeholder="Digite o CPF"
      [(ngModel)]="filtros.cpf"
      [hasError]="false"
      errorMsg="CPF é obrigatório"
      [isDisable]="false"
    ></app-input>
  </div>
    <div class="filtrosB">
      <button class="lupa" (click)="aplicarFiltros()"></button>
      <button class="limpar" (click)="limparFiltros()">Limpar filtro</button>
    </div>
  </div>

  <app-table
    [columns]="['Nome', 'CPF', 'RG', 'E-mail', 'Tem representante?']"
    [data]="pessoasData"
    [showActions]="true"
    [itemsPerPage]="10"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
  ></app-table>
</div>

<ng-template #adicionar>
  <app-add-users-modal />
</ng-template>
<ng-template #editar>
  <app-edit-users-modal />
</ng-template>
