<div class="container">
  <div class="adicionar">
    <h1>Contratos</h1>
  </div>

  <div class="filter">
    <form [formGroup]="filterForm">
      <app-input
        label="Nome"
        type="text"
        placeholder="Digite o nome"
        [hasError]="false"
        errorMsg="Nome é obrigatório"
        [isDisable]="false"
        formControlName="name"
      ></app-input>
      <app-input
        label="Cpf"
        type="text"
        placeholder="Digite o cpf"
        [hasError]="false"
        errorMsg="Nome é obrigatório"
        [isDisable]="false"
        formControlName="cpf"
      ></app-input>
      <app-input
        label="Status"
        type="text"
        placeholder="Digite o status"
        [hasError]="false"
        errorMsg="Nome é obrigatório"
        [isDisable]="false"
        formControlName="status"
      ></app-input>
    </form>
    <button class="lupa" (click)="submitFilter()"></button>
  </div>

  <app-table
    [columns]="['Nome', 'Cpf', 'Status', 'Beneficio', 'Inicio', 'Conclusao']"
    [data]="pessoasContrato"
    [showActions]="true"
    [itemsPerPage]="10"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
  ></app-table>
</div>
<ng-template #editTemplate>
  <!-- <app-add-users-modal /> -->
  <app-edit-contrato-modal />
</ng-template>
