<div class="main-layout" [ngClass]="{ backdrop: isActiveBar }">
  <div class="shadow sidenav flex-shrink-0" [ngClass]="{ isActive: isActiveBar }">
    <a href="/home" class="d-flex justify-content-center align-items-center link-body-emphasis text-decoration-none">
      <img class="logo-sidebar" ngSrc="logo.jpeg" width="170" height="60" alt="estrutura Logo" />
    </a>
    <div class="texts4">
      <h3>Assessoria</h3>
      <h3>Previdenciária</h3>
    </div>

    <div class="d-flex align-items-center link-body-emphasis text-decoration-none navegacaot">
      <ul class="list-unstyled">
        <li class="cursor-pointer" [ngClass]="{ active: selectedNav === 1 }" (click)="selectNav(1)"
          [routerLink]="['/home']" routerLinkActive="active-link">
          <lucide-icon name="house" [size]="18"></lucide-icon>
          Inicio
        </li>
        <li class="cursor-pointer" [ngClass]="{ active: selectedNav === 2 }" (click)="selectNav(2)"
          [routerLink]="['/clientes']" routerLinkActive="active-link">
          <lucide-icon name="users" [size]="18"></lucide-icon>
          Clientes
        </li>
        <li class="cursor-pointer" [ngClass]="{ active: selectedNav === 3 }" (click)="selectNav(3)"
          [routerLink]="['/processos']" routerLinkActive="active-link">
          <lucide-icon name="clipboard-list" [size]="18"></lucide-icon>
          Processos
        </li>
        <li class="cursor-pointer" [ngClass]="{ active: selectedNav === 4 }" (click)="selectNav(4)"
          [routerLink]="['/contratos']" routerLinkActive="active-link">
          <lucide-icon name="file-chart-column-increasing" [size]="18"></lucide-icon>
          Contratos
        </li>
        <li class="cursor-pointer" [ngClass]="{ active: selectedNav === 5 }" (click)="selectNav(5)"
        [routerLink]="['/financas']" routerLinkActive="active-link">
        <lucide-icon name="file-chart-column-increasing" [size]="18"></lucide-icon>
        Finanças
      </li>
      </ul>
    </div>
  </div>
  <main>
    <header>
      <div class="box-button">
        <button class="button-bar" (click)="toggleSideBar()" [ngClass]="{ active: isActiveBar}">
          @if (isActiveBar) {
            <i class="bi bi-x"></i>
          } @else {
            <i class="bi bi-list"></i>
          }
        </button>
      </div>

      <h6 class="none" *ngIf="isInitialPage">
        {{ headerTitle }}
        <div class="neg">{{ headerDescription }}</div>
      </h6>

    </header>
    <section>
      <router-outlet></router-outlet>
    </section>
  </main>

  <div class="backdrop" [ngClass]="{ backdropActive: isActiveBar }" (click)="toggleSideBar()"></div>
</div>
