<div class="box-input">
  <label for="" class="form-label">{{ label }}</label>
  <div class="input-group mb-3">
    <input
      [type]="visibility ? 'text' : 'password'"
      class="form-control"
      placeholder="{{ placeholder }}"
      aria-label="Recipient's username"
      aria-describedby="basic-addon2"
    />
    <span class="input-group-text" id="basic-addon2">
      <button *ngIf="visibility" (click)="onChangeVisibility()">
        <i class="bi bi-eye-fill"></i>
      </button>

      <button *ngIf="!visibility" (click)="onChangeVisibility()">
        <i class="bi bi-eye-slash-fill"></i>
      </button>
    </span>
  </div>
  <div class="invalid-feedback">
    {{ errorMsg }}
  </div>
</div>
