ngx-charts-legend-title {
    display: none; /* Isso vai esconder o texto "Legend" padrão */
  }
  
  /* Você pode estilizar o título customizado */
  h3 {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
  }
  