<div class="grafico-container">
  <h3>Quantidade Total</h3>
  <div class="navegacao-meses">
    <button (click)="onMesAnterior()" class="navegacao-botao">&#9664;</button>
    <span class="mes-selecionado">Contratos do mês: {{ mesSelecionado }}</span>
    <button (click)="onMesProximo()" class="navegacao-botao">&#9654;</button>
  </div>
  <ngx-charts-bar-vertical
    [view]="view"
    [scheme]="colorScheme"
    [results]="datagrafico"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [yAxisTickFormatting]="yAxisTickFormatting"
    [yScaleMax]="yScaleMax"
    (select)="onSelect($event)">
  </ngx-charts-bar-vertical>
</div>