ngx-charts-legend-title {
  display: none; /* Isso vai esconder o texto "Legend" padrão */
}

/* Estilizar o título customizado */
h3 {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 24px;
  text-align: center;
  color: #333;
}

/* Container do gráfico */
.grafico-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Ajuste conforme necessário */
  margin: 0 auto;
  margin: -76px auto;
  .conteudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    .select-options {
      position: absolute;
      right: 40px;
      #dropdown-item {
        .btn {
          width: 140px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: end;
          border-radius: 10px;
          gap: 15px;
          font-weight: 600;
        }
      }
    }
  }
}

/* Navegação entre meses */
.navegacao-meses {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.navegacao-botao {
  background-color: lighten(#08024c, 10%);
  color: white;
  border: none;
  padding: 3px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  lucide-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.navegacao-botao:hover {
  background-color: #08024c;
}

.mes-selecionado {
  font-size: 18px;
  color: #333;
  padding: 0 10px;
}

/* Media query para dispositivos móveis */
@media (max-width: 1100px) {
  .grafico-container {
    max-width: 100%; /* Ajuste a largura máxima para 100% */
  }

  ngx-charts-bar-vertical {
    width: 100%; /* Ajuste a largura do gráfico para 100% */
    height: auto; /* Ajuste a altura do gráfico automaticamente */
  }
}

