<div class="modal-header">
  <div class="info-modal">
    <div class="icon-shell" *ngIf="iconTemplate">
      <i [className]="iconTemplate"></i>
    </div>

    <div class="copy-block">
      <span class="modal-kicker">Fluxo guiado</span>
      <h4 class="modal-title pull-left">{{ title }}</h4>
      <p *ngIf="subtitle">{{ subtitle }}</p>
    </div>
  </div>
  <button type="button" (click)="bsModalRef.hide()">
    <i class="bi bi-x-lg"></i>
  </button>
</div>
<div class="modal-body">
  <ng-container *ngTemplateOutlet="formTemplate"></ng-container>
</div>
