.modal-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h4 {
    font-size: 16px;

    margin-right: .5rem;

    color: #08024C;
    font-weight: 600;
  }

  button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background-secundary);

    width: 2.5rem;
    height: 2.5rem;

    border-radius: .4375rem;
    transition: 0.3s;

    &:hover {
      filter: brightness(0.9);
    }
  }

  .info-modal {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.modal-body {
  border: none;
}


