<div class="container">
 
  <div class="adicionar">
    <h1>Colaboradores</h1>
    <button class="adicionarUsuario" (click)="cadatrarUsuario = false">Adicionar colaboradores <img src="/adicionarUsuario.svg" alt=""></button>
  </div>

  <div class="filter">
    <app-input
      label="Nome"
      type="text"
      placeholder="Digite o nome"
      [hasError]="false"
      errorMsg="Nome é obrigatório"
      [isDisable]="false"
    ></app-input>
    <app-input
      label="Nome"
      type="text"
      placeholder="Digite o nome"
      [hasError]="false"
      errorMsg="Nome é obrigatório"
      [isDisable]="false"
    ></app-input>
    <app-select-input
      label="Tipo"
      [options]="primeiroFiltro"
      placeholder="Selecione uma opção"
      [hasError]="false"
      errorMsg="Seleção é obrigatória"
      [isDisable]="false"
    ></app-select-input>
    <app-select-input
      label="Cartão"
      [options]="segundoFiltro"
      placeholder="Selecione uma opção"
      [hasError]="false"
      errorMsg="Seleção é obrigatória"
      [isDisable]="false"
    ></app-select-input>
    <app-select-input
      label="Situação"
      [options]="terceiroFiltro"
      placeholder="Selecione uma opção"
      [hasError]="false"
      errorMsg="Seleção é obrigatória"
      [isDisable]="false"
    ></app-select-input>
    <button class="lupa"></button>
  </div>

  <app-table
    [columns]="['Nome', 'Email', 'Lotação', 'Local']"
    [data]="pessoasData"
    [showActions]="true"
    [itemsPerPage]="10"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
  ></app-table>
  
</div>
<ng-template #editTemplate>
  <app-add-users-modal/>
</ng-template>
