.modal-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;

  h4 {
    font-size: 16px;

    margin-right: .5rem;

    color: #08024C;
    font-weight: 600;
  }

  button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background-secundary);

    width: 2.5rem;
    height: 2.5rem;

    border-radius: .4375rem;
    transition: 0.3s;

    &:hover {
      filter: brightness(0.9);
    }
  }

  .info-modal {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

form {
  width: 100%;
  height: 100%;
  position: relative;

  .footer-modal {
    width: 100%;
    height: 68px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px;
  }
}

.container-inputs {
  display: flex;
  gap: 19px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 17px;
  margin-top: 20px;
  
}

.ts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.testes {
  margin-bottom: 20px;
}

.progress-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.step {
  width: 120px; /* Aumente a largura para caber o texto */
  text-align: center;
  padding: 10px;
  border-radius: 50%;
  background-color: #e0e0e0;
  color: #000;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  font-size: 14px; /* Ajuste o tamanho da fonte */
}

.line {
  flex-grow: 1;
  height: 2px;
  background-color: #e0e0e0;
  transition: background-color 0.3s;
}

.step.active, .line.active {
  background-color: #08024C;
  color: #fff;
}

@media (max-width: 980px) {
  .container-inputs {
    display: flex;
    gap: 19px;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 17px;
    flex-direction: column !important;
    width: 90% !important;
    align-items: stretch;
}
  }

  app-select-input {
    min-width: 207px;
  }
