form {
    width: 100%;
    height: 100%;
    position: relative;
  
    .footer-modal {
      width: 100%;
      height: 68px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      gap: 10px;
    }
  }
  .container-inputs{
    display: flex;
    gap: 19px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 17px;
  }

  .ts{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .testes{
    margin-bottom: 20px;
  }