<form action="javascript:void(0)" >
  <div class="container-inputs">
    <app-input
      label="Nome:"
      placeholder="Nome:"
      formControlName="nome" />
  
      <app-input
      label="Nome:"
      placeholder="Nome:"
      formControlName="nome" />
      <app-input
      label="Nome:"
      placeholder="Nome:"
      formControlName="nome" />
  
  </div>
  <div class="container-inputs">
    <app-input
      label="Nome:"
      placeholder="Nome:"
      formControlName="nome" />
  
      <app-input
      label="Nome:"
      placeholder="Nome:"
      formControlName="nome" />
      <app-input
      label="Nome:"
      placeholder="Nome:"
      formControlName="nome" />
  
  </div>
  
  
    <div class="footer-modal">
      <app-button variant="danger" width="100px" (click)="onCloseModal()">
        Fechar
      </app-button>
      <app-button
        width="100px"
      
        [isLoading]="isLoading"
     
      >
        Salvar
      </app-button>
    </div>
  </form>
  