<div class="progress-bar">
  <div class="step" [class.active]="currentStep >= 1">Dados</div>
  <div class="line" [class.active]="currentStep >= 2"></div>
  <div class="step" [class.active]="currentStep >= 2">Contato</div>
  <div class="line" [class.active]="currentStep >= 3"></div>
  <div class="step" [class.active]="currentStep >= 3">Endereço</div>
  <div class="line" [class.active]="currentStep >= 4 && shouldShowStep(4)"></div>
  <div class="step" [class.active]="currentStep >= 4 && shouldShowStep(4)">Representante</div>
  <div class="line" [class.active]="currentStep >= 5"></div>
  <div class="step" [class.active]="currentStep >= 5">Benefícios</div>
</div>

<form [formGroup]="form">
  <div class="pt1" *ngIf="currentStep === 1">
    <div class="container-inputs">
      <app-input
        label="RG:"
        placeholder="Digite seu RG:"
        formControlName="rg"
        [hasError]="hasMaxLengthAndRequiredError('rg')"
        [errorMsg]="getMaxLengthAndRequiredErrorMsg('rg')">
      </app-input>

      <app-input
        label="CPF:"
        placeholder="Digite seu CPF:"
        formControlName="cpf"
        [hasError]="hasMaxLengthAndRequiredError('cpf')"
        [errorMsg]="getMaxLengthAndRequiredErrorMsg('cpf')">
      </app-input>

      <app-input
        label="Data De Nascimento:"
        placeholder="Digite sua data de nascimento:"
        formControlName="dataNascimento"
        [hasError]="hasMaxLengthAndRequiredError('dataNascimento')"
        [errorMsg]="getMaxLengthAndRequiredErrorMsg('dataNascimento')">
      </app-input>
    </div>
  </div>

  <div class="pt2" *ngIf="currentStep === 2">
    <div class="container-inputs">
      <app-input
        label="Nome:"
        placeholder="Digite seu nome:"
        formControlName="nome"
        [hasError]="hasMaxLengthAndRequiredError('nome')"
        [errorMsg]="getMaxLengthAndRequiredErrorMsg('nome')">
      </app-input>
    
      <app-input
        label="E-mail:"
        placeholder="Digite seu email:"
        formControlName="email"
        [hasError]="hasMaxLengthAndRequiredError('email')"
        [errorMsg]="getMaxLengthAndRequiredErrorMsg('email')">
      </app-input>
      <app-input
        label="Telefone:"
        placeholder="Digite seu telefone:"
        formControlName="telefone"
        [hasError]="hasMaxLengthAndRequiredError('telefone')"
        [errorMsg]="getMaxLengthAndRequiredErrorMsg('telefone')">
      </app-input>
    </div>
  </div>

  <div class="pt3" *ngIf="currentStep === 3">
    <div class="container-inputs">
      <div class="teste1">
        <app-input
        label="CEP:"
        placeholder="Digite seu CEP:"
        formControlName="cep"
        [hasError]="hasMaxLengthAndRequiredError('cep')"
        [errorMsg]="getMaxLengthAndRequiredErrorMsg('cep')">
      </app-input>

      <app-input
        label="Logradouro:"
        placeholder="Digite seu logradouro:"
        formControlName="logradouro"
        [hasError]="hasMaxLengthAndRequiredError('logradouro')"
        [errorMsg]="getMaxLengthAndRequiredErrorMsg('logradouro')">
      </app-input>
    
      <app-input
        label="Complemento:"
        placeholder="Digite seu complemento:"
        formControlName="complemento"
        [hasError]="hasMaxLengthAndRequiredError('complemento')"
        [errorMsg]="getMaxLengthAndRequiredErrorMsg('complemento')">
      </app-input>

      </div>
     <div class="teste2">
      <app-input
      label="Bairro:"
      placeholder="Digite seu bairro:"
      formControlName="bairro"
      [hasError]="hasMaxLengthAndRequiredError('bairro')"
      [errorMsg]="getMaxLengthAndRequiredErrorMsg('bairro')">
    </app-input>

    <app-input
      label="Cidade:"
      placeholder="Digite sua cidade:"
      formControlName="cidade"
      [hasError]="hasMaxLengthAndRequiredError('cidade')"
      [errorMsg]="getMaxLengthAndRequiredErrorMsg('cidade')">
    </app-input>

    <app-select-input 
      [label]="'Tem representante?'" 
      [options]="selectOptions" 
      [placeholder]="'Escolha uma opção'"
      formControlName="temRepresentante"
      [hasError]="hasMaxLengthAndRequiredError('temRepresentante')"
      [errorMsg]="getMaxLengthAndRequiredErrorMsg('temRepresentante')"
      (change)="onRepresentativeChange($event)">
    </app-select-input>
     </div>
     
    </div>
  </div>

  <div class="pt4" *ngIf="currentStep === 4 && shouldShowStep(4)">
    <div class="container-inputs">
      <h4>Contato</h4>
      <div class="container1">
        <app-input
        label="Nome do Representante:"
        placeholder="Digite o nome do representante:"
        formControlName="representanteNome"
        [hasError]="hasMaxLengthAndRequiredError('representanteNome')"
        [errorMsg]="getMaxLengthAndRequiredErrorMsg('representanteNome')">
      </app-input>

      <app-input
        label="E-mail do Representante:"
        placeholder="Digite o e-mail do representante:"
        formControlName="representanteEmail"
        [hasError]="hasMaxLengthAndRequiredError('representanteEmail')"
        [errorMsg]="getMaxLengthAndRequiredErrorMsg('representanteEmail')">
      </app-input>

      <app-input
        label="Telefone do Representante:"
        placeholder="Digite o telefone do representante:"
        formControlName="representanteTelefone"
        [hasError]="hasMaxLengthAndRequiredError('representanteTelefone')"
        [errorMsg]="getMaxLengthAndRequiredErrorMsg('representanteTelefone')">
      </app-input>
      </div>
      <h4>Dados do parentesco</h4>
      <div class="container1">
        <app-input
        label="Parentesco:"
        placeholder="Digite o parentesco:"
        formControlName="parentesco"
        [hasError]="hasMaxLengthAndRequiredError('parentesco')"
        [errorMsg]="getMaxLengthAndRequiredErrorMsg('parentesco')">
      </app-input>
    
      <app-input
        label="CPF do Representante:"
        placeholder="Digite o CPF:"
        formControlName="representanteCpf"
        [hasError]="hasMaxLengthAndRequiredError('representanteCpf')"
        [errorMsg]="getMaxLengthAndRequiredErrorMsg('representanteCpf')">
      </app-input>
      <app-input
        label="RG do Representante:"
        placeholder="Digite o RG:"
        formControlName="representanteRg"
        [hasError]="hasMaxLengthAndRequiredError('representanteRg')"
        [errorMsg]="getMaxLengthAndRequiredErrorMsg('representanteRg')">
      </app-input>

    
      </div>
      <div class="t">
      <app-input
      label="Data de Nascimento:"
      placeholder="Digite a data de nascimento:"
      formControlName="representanteDataNascimento"
      [hasError]="hasMaxLengthAndRequiredError('representanteDataNascimento')"
      [errorMsg]="getMaxLengthAndRequiredErrorMsg('representanteDataNascimento')">
    </app-input>
  </div>

     
    </div>
  </div>

  <div class="pt5" *ngIf="currentStep === 5">
    <div class="container-inputs">
      <app-select-input 
        [label]="'Benefícios'" 
        [options]="beneficiosOptions" 
        [placeholder]="'Escolha um benefício'"
        formControlName="beneficios"
        [hasError]="hasMaxLengthAndRequiredError('beneficios')"
        [errorMsg]="getMaxLengthAndRequiredErrorMsg('beneficios')">
      </app-select-input>
    </div>
  </div>
  
  <div class="footer-modal">
    <app-button variant="danger" width="100px" (click)="onCloseModal()">
      Fechar
    </app-button>
    <app-button
      width="100px"
      *ngIf="currentStep > 1"
      (click)="onPreviousStep()">
      Voltar
    </app-button>
    <app-button
      width="100px"
      *ngIf="currentStep < 5"
      (click)="onNextStep()">
      Próximo
    </app-button>
    <app-button
    width="100px"
    *ngIf="currentStep === 5"
    [isLoading]="isLoading"
    (click)="onSubmit()">
    Salvar
  </app-button>
  </div>
</form>