<div class="modal-header">
  <div class="info-modal">
    <h4 class="modal-title pull-left">{{ title }}</h4>
  </div>
  <button>
    <i
      class="bi bi-x"
      style="font-size: 1.5rem"
      (click)="bsModalRef.hide()"
    ></i>
  </button>
</div>

<form [formGroup]="form" action="javascript:void(0)">
  <div class="container-inputs">
    <app-input
      label="Parcelas Restantes"
      placeholder="Digite o número de parcelas restantes:"
      formControlName="parcelasRestantes"
    >
    </app-input>

    <app-input
      label="Valor Próxima Parcela"
      placeholder="Digite o valor da próxima parcela:"
      formControlName="valorProximaParcela"
    >
    </app-input>
  </div>

  <div class="footer-modal">
    <app-button variant="danger" width="100px" (click)="onCloseModal()">
      Fechar
    </app-button>
    <app-button width="100px" [isLoading]="isLoading" (click)="onSave()">
      Salvar
    </app-button>
  </div>
</form>