<div class="graficos">
  <div class="cima">
  <app-graficos/>

  
  <app-tablescroll
  [columns]="['Nome', 'CPF', 'Telefone', 'Numero do Protocolo', 'Status', 'Beneficio','Data de Concessão', 'Cessação']"
  [data]="pessoasData"
  [showActions]="true"
  [itemsPerPage]="3"
 
  [showAllActions]="false"
  [showDelete]="false"
  [showOpcoes]="false"
></app-tablescroll>
</div>


  <app-table
  [columns]="['Nome', 'CPF', 'Telefone', 'Numero do Protocolo', 'Status', 'Beneficio','Data de Concessão', 'Cessação']"
  [data]="pessoasData"
  [showActions]="true"
  [itemsPerPage]="2"
 
  [showAllActions]="false"
  [showDelete]="false"
  [showOpcoes]="false"
></app-table>



</div>
