<div class="graficos">
  <app-graficos/>


<div class="border bordertd">
<h1 class="margin">Benefícios Concedidos perto de 60 dias</h1>
<app-tablescroll
[columns]="['Nome', 'CPF', 'Telefone', 'Número do Protocolo', 'Status', 'Beneficio','Data de Concessão']"
[data]="pessoasDataConcedido"
[showActions]="true"
[itemsPerPage]="3"

[showAllActions]="false"
[showDelete]="false"
[showOpcoes]="false"
></app-tablescroll>
</div>

<div class="border">
<h1>Benefícios por Incapacidade Temporária em Cessação
</h1>
  <app-table
  [columns]="['Nome', 'CPF', 'Telefone', 'Número do Protocolo', 'Status', 'Beneficio','Data de Concessão', 'Cessação']"
  [data]="pessoasData"
  [showActions]="true"
  [itemsPerPage]="3"
 
  [showAllActions]="false"
  [showDelete]="false"
  [showOpcoes]="false"
></app-table>
</div>



</div>
