<div class="modal-header">
  <div class="info-modal">
    <h4 class="modal-title pull-left">{{ title }}</h4>
  </div>
  <button>
    <i
      class="bi bi-x"
      style="font-size: 1.5rem"
      (click)="bsModalRef.hide()"
    ></i>
  </button>
</div>

<form [formGroup]="form" action="javascript:void(0)">
  <div class="container-inputs">
    <app-input
      label="Nome:"
      placeholder="Digite o nome:"
      formControlName="Nome"
      [readonly]="true"
    >
    </app-input>

    <app-input
      label="Cpf:"
      placeholder="Digite o cpf:"
      formControlName="Cpf"
      [readonly]="true"
    >
    </app-input>

    <app-input
      label="Status"
      placeholder="Digite o status:"
      formControlName="Status"
    >
    </app-input>

    <app-input
      label="Beneficio"
      placeholder="Digite o benefício:"
      formControlName="Beneficio"
    >
    </app-input>

    <app-input
      label="Inicio"
      placeholder="Digite a data de início:"
      formControlName="Inicio"
    >
    </app-input>

    <app-input
      label="Conclusão"
      placeholder="Digite a data de conclusão:"
      formControlName="Conclusao"
    >
    </app-input>
  </div>

  <div class="footer-modal">
    <app-button variant="danger" width="100px" (click)="onCloseModal()">
      Fechar
    </app-button>
    <app-button width="100px" [isLoading]="isLoading" (click)="onSave()">
      Salvar
    </app-button>
  </div>
</form>
