<div class="modal-header">
  <div class="info-modal">
    <h4 class="modal-title pull-left">{{ title }}</h4>
  </div>
  <button>
    <i
      class="bi bi-x"
      style="font-size: 1.5rem"
      (click)="bsModalRef.hide()"
    ></i>
  </button>
</div>

<form [formGroup]="form" action="javascript:void(0)">
  <div class="container-inputs">
    <app-input
      label="Nome:"
      placeholder="Digite o nome:"
      formControlName="Nome"
      [isReadonly]="true"
    >
    </app-input>

    <app-input
      label="Cpf:"
      mask="000.000.000-00"
      placeholder="Digite o cpf:"
      formControlName="Cpf"
      [isReadonly]="true"
    >
    </app-input>

    <app-input
      label="N° Contrato"
      placeholder="Digite o Numero do contrato:"
      formControlName="Numero"
      [isReadonly]="true"
    >
    </app-input>

    <app-input
      label="Beneficio"
      placeholder="Digite o benefício:"
      formControlName="Beneficio"
      [isReadonly]="true"
    >
    </app-input>

    <app-input
      label="Inicio"
      [maxlength]="10"
      mask="00/00/0000"
      placeholder="Digite a data de início:"
      formControlName="Inicio"
      [clearIfNotMatch]="true"
    >
    </app-input>

    <app-input
      label="Conclusão"
      [maxlength]="10"
      mask="00/00/0000"
      [clearIfNotMatch]="true"
      placeholder="Digite a data de conclusão:"
      formControlName="Conclusao"
    >
    </app-input>

    <app-input
      label="Indicação"
      placeholder="Digite quem indicou:"
      formControlName="Indicacao"
    >
    </app-input>

    <app-input
      label="Valor"
      placeholder="Digite o valor:"
      formControlName="Valor"
      mask="000.000.000,00"
      [clearIfNotMatch]="true"
    >
    </app-input>
  </div>

  <div class="footer-modal">
    <app-button variant="danger" width="100px" (click)="onCloseModal()">
      Fechar
    </app-button>
    <app-button width="100px" [isLoading]="isLoading" (click)="onSave()">
      Salvar
    </app-button>
  </div>
</form>
