<div class="container">
  <div class="adicionar">
    <h1>Processos</h1>
  </div>

  <div class="filter">
    <div class="dividir">
      <app-input
        label="Nome"
        type="text"
        placeholder="Digite o nome"
        [hasError]="false"
        [(ngModel)]="filtros.Nome"
        errorMsg="Nome é obrigatório"
        [isDisable]="false"
      ></app-input>
      <app-input
        label="CPF"
        [(ngModel)]="filtros.CPF"
        type="text"
        placeholder="Digite o CPF"
        [hasError]="false"
        errorMsg="CPF é obrigatório"
        [isDisable]="false"
      ></app-input>
      <app-select-input
        [label]="'Status:'"
        [options]="[
          { value: 'AGUARDANDO', label: 'Aguardando' },
          { value: 'PENDENTE', label: 'Pendente' },
          { value: 'ANALISE', label: 'Análise' },
          { value: 'CUMPRIMENTO_EXIGENCIA', label: 'Cumprimento com Exigencia' },
          { value: 'ANALISE_ADMINISTRATIVA', label: 'Analise Administrativa' },
          { value: 'APROVADO', label: 'Aprovado' },
          { value: 'REPROVADO', label: 'Reprovado' }
        ]"
        [placeholder]="'Selecione o status'"
        [(ngModel)]="filtros.Status"
      ></app-select-input>
    </div>
    <div class="filtrosB">
      <button class="lupa" (click)="aplicarFiltros()"></button>
      <button class="limpar" (click)="limparFiltros()">Limpar filtro</button>
    </div>
  </div>

  <app-table
    [columns]="['Nome', 'CPF', 'Status', 'Perícia médica', 'Avaliação social', 'Entrada do protocolo', 'Cessação']"
    [data]="pessoasData"
    [showActions]="true"
    [itemsPerPage]="10"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
    (gerarCartas)="gerarCarta($event)"
    [showDelete]="false"
    [showOpcoes]="true"
  ></app-table>
</div>

<ng-template #editTemplate>
  <app-add-process-modal [processoId]="selectedProcessoId!"></app-add-process-modal>
</ng-template>


